*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.wrapper{
    display: block;
}
.container{
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-around;
    /* padding-left: 50px; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.title{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 50px;
}
.icons{
    display: flex;
    color: black;
    padding-top: 15px;
}
.content{
    display: flex;
    justify-content: space-evenly;
}

.content ul{
    margin: 15px;
}

.content ul li{
    display: inline;
    padding: 15px;
    font-weight: bold;
}
.content ul li a:hover{
    color: #3399CC;
    text-decoration: none;
}
.icons a{
    margin-left: 30px;
    color: #000;

}
.container-home{
    margin-top: 50px;
    background-color: silver;
}
.image-home{
    background-size: cover;
    background-position: center;
    /* margin-top: 50px; */
    position: relative;
}
.text-title{
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-family: Courier,Helvetica,sans-serif;
    color: #EEEEEE;   
    z-index: 10; 
    /* max-width: 50%; */
}
.info-myself {
    color: #BB0000;;
    overflow: hidden;
}

.image-home-background{
    display: flex;   
}
.content ul li a{
    color: #000;
}
a:link {
    text-decoration: none;
}  
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.text-info h2 span{
    word-wrap: break-word;
}